{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upgrade Report: {{ upgradeReport.name }}</h1>

    <table class="upgrade-report">
        <tbody>
            {#<tr>#}
                {#<th>Siteid</th>#}
                {#<td>{{ upgradeReport.siteId }}</td>#}
            {#</tr>#}
            <tr>
                <th>Revision</th>
                <td>{{ upgradeReport.revision }}</td>
            </tr>
            <tr>
                <th>Reporter</th>
                <td>{{ upgradeReport.reporter }}</td>
            </tr>
            <tr>
                <th>Download URL</th>
                <td>{{ upgradeReport.downloadurl }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ upgradeReport.status }}</td>
            </tr>
            <tr>
                <th>Stage</th>
                <td>{{ upgradeReport.stage }}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>
                    <div>
                        {% if upgradeReport.started %}{{ upgradeReport.started|date('Y-m-d H:i:s') }}{% endif %}
                    </div>

                    {{ upgradeReport.startreport }}
                </td>
            </tr>
            <tr>
                <th>Downloaded</th>
                <td>{% if upgradeReport.downloaded %}{{ upgradeReport.downloaded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Extracted</th>
                <td>{% if upgradeReport.extracted %}{{ upgradeReport.extracted|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Upgraded</th>
                <td>
                    <div>
                        {% if upgradeReport.upgraded %}{{ upgradeReport.upgraded|date('Y-m-d H:i:s') }}{% endif %}
                    </div>
                    <pre>{{ upgradeReport.upgradereport }}</pre>
                </td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>
                    <div>
                        {% if upgradeReport.finished %}{{ upgradeReport.finished|date('Y-m-d H:i:s') }}{% endif %}
                    </div>
                    <pre>{{ upgradeReport.finishreport }}</pre>
                </td>
            </tr>
            <tr>
                <th>Failed</th>
                <td>
                    <div>
                        {% if upgradeReport.failed %}{{ upgradeReport.failed|date('Y-m-d H:i:s') }}{% endif %}
                    </div>
                    <pre>{{ upgradeReport.problem }}</pre>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('UpgradeReport_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
