{% extends 'base.html.twig' %}

{% block title %}CiviCRM {{ version }}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block nav %}
    [
    <a href="https://civicrm.org/">CiviCRM Home</a>
    &gt;
    <a href="https://civicrm.org/download">Download</a>
    &gt;
    <a href="/about{{ prototype ? "?prototype=1" : "" }}">All Releases</a>
    &gt;
    {{ version }}
    ]
{% endblock %}

{% block body %}
    <fieldset class="fs-summary">
        <legend>Summary</legend>
        <ul>
            <li><strong>Version:</strong> {{ version }}</li>
            <li><strong>Build ID:</strong> {{ jsonDef.rev ?? 'unknown' }}</li>
            <li><strong>Build Time:</strong> {{ jsonDef.timestamp.pretty ?? 'unknown' }}</li>
        </ul>
    </fieldset>

{#    <fieldset class="fs-json">#}
{#        <legend>JSON</legend>#}
{#        <pre>{{ jsonDef | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>#}
{#    </fieldset>#}

    <div class="two-col">
        <fieldset class="fs-files">
            <legend>Files</legend>
            <ul>
                {% for file in files %}
                    <li>
                        <a href="/{{ file }}">{{ file }}</a>
                    </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset class="fs-details">
            <legend>Repositories</legend>
            <br/>
            {% if jsonDef and jsonDef.git %}
            <table class="tbl-repos">
                <tbody>
                {% for repoName, repoDef in jsonDef.git %}
                    <tr>
                        <td>{{ repoName }}</td>
                        <td><a href="{{ gitBrowsers[repoName] }}/tree/{{ repoDef.commit }}/" target="_blank">browse</a></td>
                        <td><a href="{{ gitBrowsers[repoName] }}/commits/{{ repoDef.commit }}/" target="_blank">commits</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                Failed to load metadata for {{ version }}.
            {% endif %}
        </fieldset>

    </div>

    <fieldset class="fs-notes">
        <legend>Release Notes</legend>
        <pre id="notes-unrendered" style="display: none">{{ notes }}</pre>
        <div id="notes-rendered"></div>
    </fieldset>

{% endblock %}

{%  block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12/dist/markdown-it.min.js"></script>
    <script type="application/javascript">
      const notes = document.getElementById('notes-unrendered');
      const md = window.markdownit({
        html: true,
        linkify: true,
        typographer: true
      });
      const renderedHTML = md.render(notes.textContent);
      document.getElementById('notes-rendered').innerHTML = renderedHTML;
    </script>
{% endblock %}
