{% extends 'base.html.twig' %}

{% block title %}CiviCRM Versions{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <fieldset class="fs-all-releases">
        <legend>All Releases</legend>
        <ul>
            {% for majorMinor,patches in versions %}
                <li>
                    <strong>{{ majorMinor }}</strong>:
                    {% for patch in patches %}
                        <a href="/release/{{ patch }}{{ prototype ? "?prototype=1" : "" }}">{{ patch }}</a>{{ not loop.last ? ',' }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
