{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <fieldset class="fs-autobuild">
        <legend>Autobuild</legend>

        {{ include ('CiviDistManagerBundle:Check:disclaimer.html.twig') }}
    </fieldset>

    <fieldset class="fs-highlights">
        <legend>Highlights</legend>
        <ul>
            {% for highlight in highlights %}
                <li>
                    <h4>
                        {{ highlight.title }}
                        {% if highlight.inspect_url is not empty %}
                            (<a href="{{ highlight.inspect_url }}">{{ highlight.revDoc.rev }}</a>)
                        {% else %}
                            ({{ highlight.revDoc.rev }})
                        {% endif %}
                    </h4>

                    <ul>
                        {% for file in highlight.files %}
                            <li><a href="{{ file.url }}">{{ file.basename }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}

        </ul>
    </fieldset>

    <fieldset class="fs-browse">
        <legend>Browse</legend>
        <ul>
            {% for branch, branchUrl in branches %}
                <li><a href="{{ branchUrl }}">branch/{{ branch }}</a></li>
            {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
