{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <fieldset class="fs-autobuild">
        <legend>Autobuild</legend>

        {{ include ('CiviDistManagerBundle:Check:disclaimer.html.twig') }}
    </fieldset>

    <fieldset class="fs-highlights">
        <legend>Highlights</legend>
        <ul>
            {% for file in highlightFiles %}
                <li><a href="{{ file.url }}">{{ file.basename }}</a> ({% if file.inspect_url is not empty %}
                    <a href="{{ file.inspect_url }}">{{ file.rev }}</a>
                    {% else %}
                        {{ file.rev }}
                    {% endif %})</li>
            {% endfor %}
        </ul>
    </fieldset>

    <fieldset class="fs-browse">
        <legend>Browse</legend>
        <ul>
            {% for branch, branchUrl in branches %}
                <li><a href="{{ branchUrl }}">branch/{{ branch }}</a></li>
            {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
