{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Autobuild: Disclaimer</h1>

    {{ include ('CiviDistManagerBundle:Check:disclaimer.html.twig') }}

    <h1>Autobuild: Highlights</h1>

    <ul>
        {% for file in highlightFiles %}
            <li><a href="{{ file.url }}">{{ file.basename }}</a> ({% if file.inspect_url is not empty %}
                <a href="{{ file.inspect_url }}">{{ file.rev }}</a>
                {% else %}
                {{ file.rev }}
                {% endif %})</li>
        {% endfor %}
    </ul>

    <h1>Autobuild: Browse</h1>

    <ul>
        {% for branch, branchUrl in branches %}
            <li><a href="{{ branchUrl }}">{{ branch }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
