{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block nav %}
    [
    <a href="https://civicrm.org/">CiviCRM Home</a>
    &gt;
    <a href="https://civicrm.org/download">Download</a>
    &gt;
    <a href="/latest/">Autobuild</a>
    &gt;
    {{ targetBranch }}
    ]
{% endblock %}

{% block body %}
    <fieldset class="fs-autobuild">
        <legend>Autobuild</legend>

        {{ include ('CiviDistManagerBundle:Check:disclaimer.html.twig') }}
    </fieldset>

    <fieldset class="fs-browse">
        <legend>Browse: <code>{{ targetBranch }}</code></legend>

        <ul>
            {% for buildRec in byTimestamp %}
                <li>{{ buildRec.ts }}
                    <ul>
                        {% for file in buildRec.files %}
                            <li>
                                <a href="{{ file._download_url }}">{{ file.basename }}</a>
                                (<a href="{{ file._inspect_url }}">inspect</a>)
                            </li>
                        {% endfor %}
                    </ul>
                </li>

            {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
